<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
            <p>{{ErrorMessage}}</p>
        <img src="https://image.shutterstock.com/image-photo/mountains-during-sunset-beautiful-natural-260nw-407021107.jpg">
        </div>
       {{>footer}}          
    </body>
</html>