<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Sumit Kumar. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="https://i.pinimg.com/originals/28/20/03/2820030de815cf05349356e6ec499c2a.png">
        <img class="portrait" src="https://venturebeat.com/wp-content/uploads/2018/05/0_ok6yudntx4o2psfx.png?fit=1600%2C692&strip=all">
    </div>
    
    {{>footer}}
</body>

</html>