<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <img  class = "portrait"src="https://image.shutterstock.com/image-photo/mountains-during-sunset-beautiful-natural-260nw-407021107.jpg">
        </div>
       {{>footer}}          
    </body>
</html>